@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the custom Poppins font */
@font-face {
    font-family: 'Poppins'; 
    src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: normal;  
    font-style: normal;   
  }
  
  /* Apply the custom font globally */
  body {
    font-family: 'Poppins', sans-serif; /* Use Poppins font */
  }